<%= form_with(model: liner, local: true) do |form| %>
  <% if liner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(liner.errors.count, "error") %> prohibited this liner from being saved:</h2>

      <ul>
      <% liner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name, id: :liner_company_name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :liner_location %>
  </div>

  <div class="field">
    <%= form.label :row %>
    <%= form.text_field :row, id: :liner_row %>
  </div>

  <div class="field">
    <%= form.label :collumn %>
    <%= form.text_field :collumn, id: :liner_collumn %>
  </div>

  <div class="field">
    <%= form.label :structure %>
    <%= form.text_field :structure, id: :liner_structure %>
  </div>

  <div class="field">
    <%= form.label :plant %>
    <%= form.text_field :plant, id: :liner_plant %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
